@font-face {
	font-family: VGA;
	src: url('./font/Perfect DOS VGA 437.ttf');
}

body, * {
	margin: 0;
	padding: 0;
	font-family: 'VGA', 'Courier New', Courier, monospace;
	color: white;
}

body {
	background: black;
}

main {
	
}

main button {
	background: black;
	border: 5px double white;
	padding: 2px;
}

input {
	color: #000;
}

select {
	color: black;
}

canvas {
	background-color: white;
}
